@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-image: url("/knotty-sock-1389/img/heroback.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* NavBar Start */

nav {
    width: 100%;
    padding:40px ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    position: fixed;
    z-index: 2;
    transition: all 0.7s ease-in-out;
    
}
nav.sticky{
    background-color: #3da98c51;
    backdrop-filter: blur(15px);
    padding:10px 60px ;
    font-weight: 500;
    
}
nav.sticky .nav-manu a{
    color: #1d322e;
    font-weight: 500;
    transition: all 0.7s ease-in-out;
}
.mobile-manu{
    display: none;
}
.mobile-manu .fa-bars{
    color: #fff;
    font-size: 20px;
}
.logo {
    width: 10%;
}
.nav-manu > .logo{
    display: none;
}
nav img {
    width: 100%;
}

.nav-manu {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.nav-manu>a {
    text-decoration: none;
    color: white;
    position: relative;


}

.nav-manu>a::before {
    position: absolute;
    content: "";
    top: 25px;
    width: 0;
    height: 2px;
    background-color: white;
    border-radius: 50px;
    transition: all ease-in-out 0.5s;

}

.nav-manu>a:hover::before {
    width: 35px;
}
a{
    text-decoration: none;
}
nav .fa-sharp{
    color:#cfefe1;
    font-size: 20px;
    margin-right: 10px;
    display: none;
    position: relative;
}
nav .fa-sharp::after{
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #376B62   ;
    border-radius: 50%;
    top: -1px;
    right: -4px;
}
nav .fa-sharp:hover{
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
}
.btn a{
    background-color: #FACE54;
    border: none;
    padding: 5px 12px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}

.btn a:hover{
    background-color: #e8bf4e;
    cursor: pointer;
    color: #fff4db;
}
#btn-login,
#btn-logout{
    background-color: transparent;
    border: 1px solid #1d322e;
    padding: 5px 15px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}
#btn-logout{
    display: none;
}
nav>div:last-child .btn{
    display: none;
}
#btn-login:hover,
#btn-logout:hover{
    cursor: pointer;
    background-color: #54827847;
    color: #fff8e9;
}

/* NavBar End */


/* Hero Section Start */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    color: white;
    font-size: 33px;
    font-weight: 500;
}

#hero p {
    color: white;
    font-size: 12px;
}

/* Hero Section End */

/* slideBar Start */
#card-slide {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

#card-slide h1 {
    position: relative;
    font-size: 33px;
    font-weight: 500;
}

#card-slide h1::before {
    position: absolute;
    content: "";
    height: 0.5px;
    top: -18px;
    width: 40%;
    background-color: #73ad9e;
}

.card-container {
    display: flex;
    overflow: hidden;
    gap: 30px;
    scroll-behavior: smooth;

}

.card-container.dragging .card {
    cursor: grab;
    user-select: none;
}

.card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.card-img-cont {
    width: 380px;
    height: 390px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.card-img-cont i {
    position: absolute;
    background-color: #92ccbd;
    padding: 15px;
    border-top-right-radius: 10px;
    font-size: 20px;
    bottom: 0px;
    left: 0;

}

.card img:hover {
    transform: scale(1.07);
}

.card>.card-img-cont+div {
    width: 366px;
    padding: 10px 10px 10px 22px;
}

.card>.card-img-cont+div p {
    color: #666666;
    font-size: 15px;
    margin: 0;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card>.card-img-cont+div h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.cardbtn {
    text-align: end;
}

.cardbtn i {
    background-color: #7DBBAB;
    padding: 9px 14px;
    border-radius: 5px;
    color: #3d5f57;
}

.cardbtn i:hover {
    background-color: #73ad9e;
    color: #fff;
    cursor: pointer;
}

/* SlideBar End */

/* About Section Start */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#about .left {
    width: 70%;
    border-radius: 5px;
    height: 600px;
    background: url("https://cdn.pixabay.com/photo/2023/03/31/18/44/mountains-7890734_1280.jpg") no-repeat center / cover;
}

#about .right {
    width: 50%;
}

.about-contant {
    width: 100%;
    padding: 34px;
    background-color: #57887b;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: -100px;
    border-radius: 5px;
    transition: margin-left 0.5s ease;
}

.about-contant:hover {
    margin-left: -120px;
}

.about-contant h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0;
}

.about-contant p {
    color: #222222bd;
}

.about-contant a {
    color: #222222bd;
    width: 100px;
    text-decoration: none;
}

/* About Section End */

/* Explore Card Start */
#explore-card {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

#explore-card h1 {
    position: relative;
    font-size: 33px;
    font-weight: 500;
}

#explore-card h1::before {
    position: absolute;
    content: "";
    height: 0.5px;
    top: -18px;
    width: 40%;
    background-color: #73ad9e;
}

.explore-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card-ex {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0 0 7px 7px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}

.card-ex:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.card-ex .ex-card-img {
    width: 100%;
    height: 250px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;

}

.card-ex .ex-card-img img {
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
    transition: all 0.5s ease;
}

.card-ex:hover.card-ex .ex-card-img img {
    transform: scale(1.09);
}

.explore-contant {
    width: 100%;
    text-align: justify;
    padding: 20px;
}

.explore-contant h4 {
    font-size: 17px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 10px;
    color: #3d5f57;
}

.explore-contant>p {
    color: #00000096;
    font-size: 14px;
    text-overflow: ellipsis;
    margin: 0;
}

.price-rating-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-rating-cont p {
    color: #caa338;
    font-weight: 600;
    font-size: 18px;
    margin-block: 10px;
}

.explore-btn-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-btn-cont i {
    color: #436c61;
    background-color: #92ccbd78;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.3S ease-in-out;
}

.explore-btn-cont i:hover {
    background-color: #e8bf4e;
}

.explore-btn-cont a {
    text-decoration: none;
    background-color: #3d5f57;
    color: #fff;
}

.explore-btn-cont a:hover {
    color: #3d5f57;
}

/* Explore Card End */

/* Testimonial Start */
#testimonial-container{
    background-color: #57887b;
    width: 100%;
    min-height: 100vh;
    padding-block:20px ;
    margin-top: 60px;
}
#testimonial-container>h1{
    color: #fff;
    position: relative;
    text-align:center;
    font-size: 32px;
    font-weight: 500;
}
#testimonial-container>h1::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 16%;
    background-color: #fff;
    top: 44px;
    left: 42%;
}
.testimonial{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    box-shadow: 0 15px 50px rgb(0, 0, 0, 0.2);
    background-color: #fff;
    filter: blur(2px);
}

.swiper-slide-active {
    filter: blur();
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.testimonialBox {
    position: relative;
    padding: 40px;
    padding-top: 90px;
    color: #3d5f57;
}

.testimonialBox i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 50px;
    opacity: 0.2;
    color: #436c61;
}

.testi-details {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.testi-content p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
}

.testi-details h3 {
    font-size: 12px;
    margin-left: 10px;
    color: #57887b;
}

.testi-details h3 span {
    font-size: 10px;
    color: #666;
    font-weight: 500;
}

.testi-imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testi-imgBx img {
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* Testimonial End */

/* contect Start */
#form-section{
    margin-top: 60px;
    width: 90%;
    margin: auto;
}
#form-section h1{
    color: #000;
    position: relative;
    text-align:center;
    font-size: 32px;
    font-weight: 500;
}
#form-section>h1::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 16%;
    background-color: #3d5f57;
    top: 44px;
    left: 42%;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-form{
    width: 45%;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-block: 20px;
    border-radius: 8px;
}
.contact-form-img{
    width: 50%;
}
.name-email-cont,
.num-sub-cont{
    margin-block: 20px;
    width: 100%;
}
#contact-form #name,
#contact-form #email,
#contact-form #number,
#contact-form #subject{
    width: 46%;
    padding: 8px;
    font-family: "poppines";
    font-size: 15px;
    border: none;
    background-color: #434f6c30;
    border-radius: 3px;
    color: #4c4c4c;
    outline: none;
}
#form-msg{
    width: 93%;
    font-family: "poppines";
    font-size: 15px;
    border: none;
    background-color: #434f6c30;
    border-radius: 3px;
    color: #4c4c4c; 
    padding: 8px;
    outline: none;
}
.contact-foBtn {
    margin-top: 10px;
}
.contact-foBtn .btn{
    display: inline;
    padding: 5px 65px  ;
}
.contact-form-img img{
    width: 100%;
}
/* contect End */

/* FAQ's Start */
#faq-container{
    width: 90%;
    margin: auto;
    margin-top: 80px;
}
#faq-container h1 {
    position: relative;
    font-size: 33px;
    font-weight: 500;
}

#faq-container h1::before {
    position: absolute;
    content: "";
    height: 0.5px;
    top: -18px;
    width: 40%;
    background-color: #73ad9e;
}
.faq-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-wrap{
    width: 50%;
}
.faq-q-a{
    margin-top: 30px;
    border-bottom: 1px solid #b1b1b1;
    transition: 0.4s;
    padding: 10px;
    border-radius: 5px;
}
.faq-question{
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
}
.faq-question.active{
    background-color: #f5f5f5;
}
.faq-q-a.active{
    background-color: #f5f5f5;
}
.faq-q-a:hover .faq-question {
    background-color: #f5f5f5;
}

.faq-q-a:hover {
    background-color: #f5f5f5;
}
.faq-question i {
    font-size: 18px;
    font-weight: 600;
    color: #4c4c4c;
}
.faq-ans{
    padding-inline:20px ;
    text-align: justify;
    display: none;
}
.faq-ans p {
    color: #525252;
}
.faq-img{
    width: 40%;
}
.faq-img img{
    width: 100%;
}
/* FAQ's End */

/* Footer End */
footer{
    background-color: #1d322e;
    margin-top: 60px;   
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-container{
    width: 90%;
    margin: auto;
    padding-block: 20px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-row .footer-col:first-child {
    margin-top: 26px;
    padding-left: 0;
}
.footer-col img{
    width: 100%;
}
.footer-col h4{
    color: #fff;
    font-size: 18px;
    text-transform:capitalize ;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    background-color: #73ad9e;
    height: 2px;
    width: 50px;
}
ul{
    list-style: none;
    padding: 0;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a,
.footer-social-link i{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none ;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-social-link a i{
    display: inline-block;
    background-color: #4c4c4c;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px 14px;

}
.footer-social-link a i:hover{
    color: #fff;
    background-color: #a5a5a5;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col img {
        width: 60%;
    }
    .footer-social-link a i {
        margin: 5px;
    }
}
@media(max-width:425px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col img {
        width: 60%;
    }
    .footer-container {
        margin-left: 27%;
    }
}
/* Footer End */

@media screen and (max-width: 1025px) {
    .explore-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-form-img {
        width: 40%;
    }
    #contact-form {
        width: 55%;
    }
    .faq-question {
        font-size: 14px;
    }
    .faq-ans p {
        font-size: 12px;
    }
    .faq-img {
        width: 50%;
    }
    .footer-social-link a i {
        margin: 5px;
    }
}
@media screen and (max-width: 769px){
    .logo {
        width: 15%;
    }
    .nav-manu {
        width: 44%;
    }
    #hero h1 {
        font-size: 27px;
    }
    .card-img-cont {
        width: 330px;
        height: 312px;
    }
    .card img {
        width: 100%;
        height: 312px;
    }
    .card-container {
        gap: 0px;
    }
    .card>.card-img-cont+div {
        width: 350px;
        padding: 10px 33px 10px 19px;
    }
    .card>.card-img-cont+div p {
        font-size: 13px;
    }
    #about {
        flex-direction: column;
    }
    #about .left{
        width: 90%;
    }
    .about-contant{
        margin-left: 0;
        margin-top:-100px;
        transition: margin-top 0.5s ease;
    }
    .about-contant:hover {
        margin-top: -120px;
        margin-left: 0px;
    }
    #about .right {
        width: 68%;
    }
    .about-contant p+div {
        text-align: center;
    }
    .explore-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonialBox {
        padding: 42px 18px;
        padding-top: 42px;
    }
    .testimonialBox i {
        top: 13px;
    }
    .testi-details {
        margin-top: 42px;
    }
    .form-container {
        flex-direction: column;
        gap: 35px;
    }
    #contact-form {
        width: 75%;
    }
    .contact-form-img {
        width: 60%;
    }
    .faq-section {
        flex-direction: column;
    }
    .faq-wrap {
        width: 90%;
    }
    .faq-img {
        width: 90%;
    }
    .faq-question {
        font-size: 16px;
    }
    .faq-ans p {
        font-size: 15px;
    }

}
@media screen and (max-width: 642px){
    .mobile-manu {
        display: initial!important;
        cursor: pointer;
    }
    .nav-manu{
        display: none;
        width: 214px;
        position: absolute;
        background-color: #376B62;
        height: 300px;
        top: 102%;
        left: -250px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(27, 27, 27, 0.338) 0px 6px 6px;
        
    }
    .logo {
        width: 40%;
    }   
    nav img {
        width: 100px;
    }
    #explore-card {
        width: 97%;
    }
    .about-contant h1 {
        font-size: 30px;
        text-align: center;
    }
    #contact-form {
        width: 100%;
    }
    .contact-form-img {
        width: 75%;
    }
    .faq-question {
        font-size: 12px;
    }
    .footer-row {
        justify-content: center;
    }
    .footer-container {
        margin-left: 0%;
    }
    .footer-col {
        width: 70%;
    }
    nav{
        position: relative;
    }
    .nav-manu.open{
        display: initial;
        left: 3px;
    }
    .nav-manu.open a{
        display: block;
        margin-block:20px ;
        font-weight: 500;
        border-bottom: 1px solid #ffffff4e;
        padding-bottom:10px ;
    }
}
@media screen and (max-width: 472px){
    nav .fa-sharp{
        display: none;
    }
    .nav-manu > .logo{
        display: initial;
    }
    .logo{
        display: none;
    }
    
}
@media screen and (max-width: 426px){
    .logo {
        width: 54%;
    }
    #hero h1 {
        font-size: 19px;
    }
    #card-slide h1,
    #explore-card h1 {
        font-size: 23px;
        font-weight: 600;
    }
    #card-slide {
        width: 99%;
    }
    #about .left {
        width: 100%;
    }
    #about .right {
        width: 90%;
    }
    #explore-card h1::before,
    #card-slide h1::before  {
        top: -5px;
        width: 30%;
    }
    .explore-card-container {
        grid-template-columns: 1fr;
    }
    #explore-card {
        width: 90%;
    }
    .testimonialBox {
        margin: auto;
        width: 224px;
        padding: 42px 0px;
        padding-top: 42px;
    }
    .testimonialBox i {
        right: 0px;
    }
    #faq-container h1 {
        font-size: 23px;
        font-weight: 600;
    }
    .faq-question {
        font-size: 10px;
    }
    .faq-question i {
        font-size: 14px;
    }
    .faq-ans p {
        font-size: 9px;
    }
    nav {
        padding-inline: 5px;
    }
}