@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --swiper-theme-color: #568676 !important;
}

/* Loader Start */
#preloader {
    text-align: center;
    margin-top: 80px;
}

svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

/* Loader End */
header {
    width: 100%;
    background-color: #568676;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* NavBar Start */

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;

}

.mobile-manu {
    display: none;
}

.mobile-manu .fa-bars {
    color: #fff;
    font-size: 20px;
}

.logo {
    width: 10%;
}

nav img {
    width: 100%;
}

.nav-manu {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.nav-manu>a {
    text-decoration: none;
    color: white;
    position: relative;


}

.nav-manu>a::before {
    position: absolute;
    content: "";
    top: 25px;
    width: 0;
    height: 2px;
    background-color: white;
    border-radius: 50px;
    transition: all ease-in-out 0.5s;

}

.nav-manu>a:hover::before {
    width: 35px;
}

#btn-logout {
    background-color: transparent;
    border: 1px solid #1d322e;
    padding: 5px 15px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}

#btn-logout:hover {
    cursor: pointer;
    background-color: #54827847;
    color: #fff8e9;
}

.show-img {
    width: 100%;
}

.show-img img {
    width: 100%;
    border-radius: 8px;
}

/* NAvbar End */
/* showcase slide show start */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* showcase slide show End */
/*showcase section start*/

.showcase-slider-img {
    height: 500px;
}

.showcase-slider-img img {
    width: 100%;
}

.showcase-slider-img img:hover {
    cursor: grab;
}

.showcase-slider-img img:active {
    cursor: grabbing;
}

.showcase-details {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase-details:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #ddede8bf;
}

.showcase-details:nth-child(odd) {
    background-color: #99c2a68c;
}

.showcase-details:nth-child(even) .show-title {
    width: 40%;
    text-align: right;
}

.showcase-details:nth-child(even) .show-title h1::before {
    right: 0;
}

.show-title {
    width: 40%;
}

.showcase-details:nth-child(even) .show-desc {
    width: 50%;
    margin-top: 60px;
}

.show-desc {
    width: 55%;
    text-align: justify;
    margin-top: 60px;
}

.show-title h1 {
    position: relative;
    font-size: 25px;
    font-weight: 600;
}

.show-title h1::before {
    position: absolute;
    content: "";
    height: 1px;
    top: -18px;
    width: 50%;
    background-color: #73ad9e;
}

/*showcase section End*/

/*Book Btn  Start*/
.book-btn{
    width: 30%;
    margin: auto;
}
.fa-star{
    color: goldenrod;
    font-size: 20px;
    margin-right: 5px;
}
.show-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showcase-rating{
    color: gold;
    display: inline;
    font-size:25px;
    font-weight: 700;
}
.showcase-price{
    color: green;
    font-size:25px;
    font-weight: 700;
}
.book-btn>div:nth-child(2){
    text-align: center;
}
.showcase-book-btn{
    text-decoration: none;
    background-color: #FACE54;
    color: #000;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.showcase-book-btn:hover{
    color: white;
    transform: scale(0.95);
}
/*Book Btn  End*/

/* slideBar Start */
#card-slide {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

#card-slide h1 {
    position: relative;
    font-size: 33px;
    font-weight: 500;
}

#card-slide h1::before {
    position: absolute;
    content: "";
    height: 0.5px;
    top: -18px;
    width: 40%;
    background-color: #73ad9e;
}

.card-container {
    display: flex;
    overflow: hidden;
    gap: 30px;
    scroll-behavior: smooth;

}

.card-container.dragging .card {
    cursor: grab;
    user-select: none;
}

.card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.card-img-cont {
    width: 380px;
    height: 390px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.card-img-cont i {
    position: absolute;
    background-color: #92ccbd;
    padding: 15px;
    border-top-right-radius: 10px;
    font-size: 20px;
    bottom: 0px;
    left: 0;

}

.card img:hover {
    transform: scale(1.07);
}

.card>.card-img-cont+div {
    width: 366px;
    padding: 10px 10px 10px 22px;
}

.card>.card-img-cont+div p {
    color: #666666;
    font-size: 15px;
    margin: 0;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card>.card-img-cont+div h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.cardbtn {
    text-align: end;
}

.cardbtn i {
    background-color: #7DBBAB;
    padding: 9px 14px;
    border-radius: 5px;
    color: #3d5f57;
}

.cardbtn i:hover {
    background-color: #73ad9e;
    color: #fff;
    cursor: pointer;
}

/* SlideBar End */

/* FAQ's Start */
#faq-container {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

#faq-container h1 {
    position: relative;
    font-size: 33px;
    font-weight: 500;
}

#faq-container h1::before {
    position: absolute;
    content: "";
    height: 0.5px;
    top: -18px;
    width: 40%;
    background-color: #73ad9e;
}

.faq-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-wrap {
    width: 50%;
}

.faq-q-a {
    margin-top: 30px;
    border-bottom: 1px solid #b1b1b1;
    transition: 0.4s;
    padding: 10px;
    border-radius: 5px;
}

.faq-question {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
}

.faq-question.active {
    background-color: #f5f5f5;
}

.faq-q-a.active {
    background-color: #f5f5f5;
}

.faq-q-a:hover .faq-question {
    background-color: #f5f5f5;
}

.faq-q-a:hover {
    background-color: #f5f5f5;
}

.faq-question i {
    font-size: 18px;
    font-weight: 600;
    color: #4c4c4c;
}

.faq-ans {
    padding-inline: 20px;
    text-align: justify;
    display: none;
}

.faq-ans p {
    color: #525252;
}

.faq-img {
    width: 40%;
}

.faq-img img {
    width: 100%;
}

/* FAQ's End */

/* Footer End */
footer {
    background-color: #1d322e;
    margin-top: 60px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    width: 90%;
    margin: auto;
    padding-block: 20px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-row .footer-col:first-child {
    margin-top: 26px;
    padding-left: 0;
}

.footer-col img {
    width: 100%;
}

.footer-col h4 {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    background-color: #73ad9e;
    height: 2px;
    width: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a,
.footer-social-link i {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-social-link a i {
    display: inline-block;
    background-color: #4c4c4c;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18 px;
    padding: 10px 14px;

}

.footer-social-link a i:hover {
    color: #fff;
    background-color: #a5a5a5;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

@media screen and (max-width: 1025px) {
    .footer-social-link a i {
        margin: 5px;
    }
    .faq-question {
        font-size: 14px;
    }
    .faq-ans p {
        font-size: 12px;
    }
    .faq-img {
        width: 50%;
    }
}

@media screen and (max-width: 769px) {
    .logo {
        width: 15%;
    }

    .nav-manu {
        width: 44%;
    }
    .showcase-details{
        flex-direction: column;
    }
    .show-title {
        width: 100%;
    }
    .show-desc {
        width: 100%;
        margin-top: 0;
    }
    .showcase-details:nth-child(even) {
        flex-direction: column;
    }
    .showcase-details:nth-child(even) .show-title {
        width: 100%;
        text-align: left;
    }
    .showcase-details:nth-child(even) .show-desc {
        width: 100%;
        margin-top: 0px;
    }
    .show-title h1::before {
        left: 0;
    }
    .card-img-cont {
        width: 330px;
        height: 312px;
    }
    .card img {
        width: 100%;
        height: 312px;
    }
    .card-container {
        gap: 0px;
    }
    .card>.card-img-cont+div {
        width: 350px;
        padding: 10px 33px 10px 19px;
    }
    .card>.card-img-cont+div p {
        font-size: 13px;
    }
    .faq-section {
        flex-direction: column;
    }
    .faq-wrap {
        width: 90%;
    }
    .faq-img {
        width: 90%;
    }
    .faq-question {
        font-size: 16px;
    }
    .faq-ans p {
        font-size: 15px;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-col img {
        width: 60%;
    }

}

@media screen and (max-width: 642px) {
    .mobile-manu {
        display: initial !important;
        cursor: pointer;
    }

    .nav-manu {
        display: none;
        width: 214px;
        position: absolute;
        background-color: #376B62;
        height: 300px;
        top: 102%;
        left: -250px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(27, 27, 27, 0.338) 0px 6px 6px;
        z-index: 1;
    }

    .logo {
        width: 70%;
    }

    nav img {
        width: 100px;
    }
    .book-btn {
        width: 90%;
    }
    .faq-question {
        font-size: 12px;
    }
    .faq-ans p {
        font-size: 12px;
    }
    .footer-row {
        justify-content: center;
    }

    .footer-container {
        margin-left: 0%;
    }

    .footer-col {
        width: 70%;
    }

    nav {
        position: relative;
    }

    .nav-manu.open {
        display: initial;
        left: -25px;
        z-index: 2;
    }

    .nav-manu.open a {
        display: block;
        margin-block: 20px;
        font-weight: 500;
        border-bottom: 1px solid #ffffff4e;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 426px) {
    .logo {
        width: 54%;
    }
    #card-slide h1,
    #explore-card h1 {
        font-size: 23px;
        font-weight: 600;
    }
    #card-slide {
        width: 99%;
    }
    .footer-col {
        width: 70%;
        margin-bottom: 30px;
    }

    .footer-col img {
        width: 60%;
    }

}