@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    margin: 0;
    padding: 0;
}

#login-page {
    background-image: url("/knotty-sock-1389/img/travel-login.svg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: calc(50%);
    position: relative;
}

.user-img-cont {
    width: 100%;
    text-align: center;
}

.user-img-cont>img {
    width: 100px;
}

.user-img-cont>h1 {
    font-size: 35px;
    color: #282828;
    font-weight: 600;
}

#form-container {
    position: absolute;
    right: 14%;
    top: 14%;
    width: 320px;
    transform: translate(10px, 10px);
}

.input-cont {
    width: 100%;
    margin-block: 10px;
    border-bottom: 1px solid #b1b1b1;
}

.input-cont i {
    color: #244738;
    margin-left: 10px;
}

.input-cont input {
    border: none;
    padding: 12px 12px 12px 8px;
    outline: none;
    width: 80%;
}

#form-container p {
    text-align: end;
    color: #333;
    font-size: 12px;
}

.sub-btn {
    text-align: center;
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #387c5f;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;

}

.button:active {
    transform: scale(0.96);
    background-color: #449370;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;

}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #418165 20%, transparent 30%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #418165 15%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #418165 15%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%),
        radial-gradient(circle, #418165 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* .sub-btn input{
        width: 100px;
        padding: 9px 10px;
        color: whitesmoke;
        font-size: 15px;
        font-weight: 500;
        margin: auto;
        color: white;
        background-color: #499071;
        border: none;
        border-radius: 10px;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    } */
/* .sub-btn input:hover{
        cursor: pointer;
    }
    .sub-btn input:active{
        background-color: #418165;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
        cursor: pointer;
        transform: scale(0.98);
    } */
#form-container .sub-btn~p {
    font-size: 15px;
    text-align: center;
    color: #818181;
}

#form-container .sub-btn~p a {
    text-decoration: none;
    color: rgb(0, 135, 207);
    font-weight: 500;
    font-size: 16px;
}

#form-container .sub-btn~p a:hover {
    color: rgba(0, 135, 207, 0.642);
    ;
}

.fa-eye:hover {
    color: rgb(162, 190, 181) !important;
    cursor: pointer;
}

.fa-eye-slash:hover {
    color: rgb(162, 190, 181) !important;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    #login-page {
        background-image: url("");
        width: 100%;
        height: 100vh;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form-container {
        position: initial;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        width: 370px;
    }

    #form-container .sub-btn~p {
        font-size: 13px;
    }

    #form-container .sub-btn~p a {
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    #form-container {
        width: 273px;
        margin-right: 21px;
    }

    .input-cont input {
        border: none;
        padding: 12px 12px 12px 8px;
        outline: none;
        width: 70%;
    }

    #form-container .sub-btn~p {
        font-size: 12px;
        font-weight: 500;
    }

    #form-container .sub-btn~p a {
        font-size: 13px;
    }
}